In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle
import env

Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

Answer those questions through a mix of statistical tests and visualizations.

Bonus:

Compute the mean(logerror) by zipcode and the overall mean(logerror). Write a loop that will run a t-test between the overall mean and the mean for each zip code. We want to identify the zip codes where the error is significantly higher or lower than the expected error.

In [9]:
df = wrangle.new_zillow_db()

In [17]:
num_missing = df.isnull().sum(axis=1)
prnt_miss = num_missing / df.shape[1] * 100

In [18]:
rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prnt_miss})

In [19]:
rows_missing.reset_index().groupby(['num_cols_missing', 'percent_cols_missing']).count().reset_index().\
rename(columns={'customer_id': 'count'})

    num_cols_missing  percent_cols_missing  index
0                 23               35.9375     13
1                 24               37.5000     26
2                 25               39.0625    164
3                 26               40.6250    349
4                 27               42.1875   4308
5                 28               43.7500   2883
6                 29               45.3125   8981
7                 30               46.8750  11552
8                 31               48.4375  15186
9                 32               50.0000  15433
10                33               51.5625   5682
11                34               53.1250   6030
12                35               54.6875   2861
13                36               56.2500   1383
14                37               57.8125    296
15                38               59.3750    297
16                39               60.9375     71
17                40               62.5000     63
18                41               64.0625    121
19                42               65.6250    123
20                43               67.1875    449
21                44               68.7500    998
22                45               70.3125    212
23                46               71.8750     92
24                47               73.4375     38
25                48               75.0000      3

In [20]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prnt_miss}).\
    reset_index().groupby(['num_cols_missing', 'percent_cols_missing']).count().\
    reset_index().rename(columns={'customer_id': 'count'})
    return rows_missing

In [21]:
nulls_by_row(df)

    num_cols_missing  percent_cols_missing  index
0                 23               35.9375     13
1                 24               37.5000     26
2                 25               39.0625    164
3                 26               40.6250    349
4                 27               42.1875   4308
5                 28               43.7500   2883
6                 29               45.3125   8981
7                 30               46.8750  11552
8                 31               48.4375  15186
9                 32               50.0000  15433
10                33               51.5625   5682
11                34               53.1250   6030
12                35               54.6875   2861
13                36               56.2500   1383
14                37               57.8125    296
15                38               59.3750    297
16                39               60.9375     71
17                40               62.5000     63
18                41               64.0625    121
19                42               65.6250    123
20                43               67.1875    449
21                44               68.7500    998
22                45               70.3125    212
23                46               71.8750     92
24                47               73.4375     38
25                48               75.0000      3

In [22]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    prnt_miss = num_missing / df.shape[0] * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prnt_miss}).\
    reset_index().groupby(['num_rows_missing', 'percent_rows_missing']).count().reset_index().\
    rename(columns={'index': 'count'})
    return cols_missing

In [23]:
nulls_by_col(df)

    num_rows_missing  percent_rows_missing  count
0                  0              0.000000     12
1                  1              0.001288      2
2                275              0.354318      1
3                511              0.658386      1
4                925              1.191795      1
5               1112              1.432731      1
6               1170              1.507460      1
7               1265              1.629861      1
8               1526              1.966140      1
9               1611              2.075656      1
10              2095              2.699255      1
11              3223              4.152601      2
12              6650              8.568042      1
13              7079              9.120777      1
14             26252             33.823795      1
15             26324             33.916561      1
16             27292             35.163759      1
17             29139             37.543484      2
18             47102             60.687505      1
19             54314             69.979643      2
20             56157             72.354214      2
21             59495             76.654985      1
22             63353             81.625738      1
23             64205             82.723478      1
24             69202             89.161749      1
25             69410             89.429742      1
26             71641             92.304223      2
27             72856             93.869663      1
28             75191             96.878141      1
29             76109             98.060917      2
30             76356             98.379158      1
31             76780             98.925452      1
32             76837             98.998892      1
33             77069             99.297807      1
34             77101             99.339037      1
35             77190             99.453707      1
36             77231             99.506532      2
37             77379             99.697220      1
38             77448             99.786121      1
39             77463             99.805447      2
40             77489             99.838947      1
41             77548             99.914964      1
42             77569             99.942021      2

In [24]:
def summarize(df):
    print('DataFrame head: \n')
    print(df.head())
    print('----------')
    print('DataFrame info: \n')
    print(df.info())
    print('----------')
    print('DataFrame description: \n')
    print(df.describe())
    print('----------')
    print('Null value assessments: \n')
    print('Nulls by column: ', nulls_by_col(df))
    print('----------')
    print('Nulls by row: ', nulls_by_row(df))
    numerical_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in numerical_cols]
    print('----------')
    print('Value counts: \n')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False))
        print('-----')
    print('----------')
    print('Report Finished')

In [25]:
summarize(df)

DataFrame head:

   id  parcelid  logerror transactiondate  airconditioningtypeid  \
0   0  10754147  0.025595      2017-01-01                    NaN
1   1  10759547  0.055619      2017-01-01                    NaN
2   2  10843547  0.005383      2017-01-01                    NaN
3   3  10859147 -0.103410      2017-01-01                    NaN
4   4  10879947  0.006940      2017-01-01                    NaN

  airconditioningdesc  architecturalstyletypeid architecturalstyledesc  \
0                None                       NaN                   None
1                None                       NaN                   None
2                None                       NaN                   None
3                None                       NaN                   None
4                None                       NaN                   None

   basementsqft  bathroomcnt  ...  numberofstories  fireplaceflag  \
0           NaN          0.0  ...              NaN            NaN
1           NaN          0.0  ...              NaN            NaN
2           NaN          0.0  ...              1.0            NaN
3           NaN          0.0  ...              1.0            NaN
4           NaN          0.0  ...              1.0            NaN

  structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
0                        NaN                9.0          2016.0
1                        NaN            27516.0          2015.0
2                   660680.0          1434941.0          2016.0
3                   580059.0          1174475.0          2016.0
4                   196751.0           440101.0          2016.0

   landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  taxdelinquencyyear  \
0                    9.0        NaN                None                 NaN
1                27516.0        NaN                None                 NaN
2               774261.0   20800.37                None                 NaN
3               594416.0   14557.57                None                 NaN
4               243350.0    5725.17                None                 NaN

   censustractandblock
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 64 columns]
----------
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77614 entries, 0 to 77613
Data columns (total 64 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77614 non-null  int64
 1   parcelid                      77614 non-null  int64
 2   logerror                      77614 non-null  float64
 3   transactiondate               77614 non-null  object
 4   airconditioningtypeid         21457 non-null  float64
 5   airconditioningdesc           21457 non-null  object
 6   architecturalstyletypeid      151 non-null    float64
 7   architecturalstyledesc        151 non-null    object
 8   basementsqft                  45 non-null     float64
 9   bathroomcnt                   77614 non-null  float64
 10  bedroomcnt                    77614 non-null  float64
 11  buildingclasstypeid           383 non-null    float64
 12  buildingclassdesc             383 non-null    object
 13  buildingqualitytypeid         50322 non-null  float64
 14  calculatedbathnbr             74391 non-null  float64
 15  decktypeid                    513 non-null    float64
 16  finishedfloor1squarefeet      5973 non-null   float64
 17  calculatedfinishedsquarefeet  76502 non-null  float64
 18  finishedsquarefeet12          70964 non-null  float64
 19  finishedsquarefeet13          235 non-null    float64
 20  finishedsquarefeet15          4758 non-null   float64
 21  finishedsquarefeet50          5973 non-null   float64
 22  finishedsquarefeet6           545 non-null    float64
 23  fips                          77614 non-null  float64
 24  fireplacecnt                  8412 non-null   float64
 25  fullbathcnt                   74391 non-null  float64
 26  garagecarcnt                  23300 non-null  float64
 27  garagetotalsqft               23300 non-null  float64
 28  hashottuborspa                1258 non-null   float64
 29  heatingorsystemtypeid         48475 non-null  float64
 30  heatingorsystemdesc           48475 non-null  object
 31  latitude                      77614 non-null  float64
 32  longitude                     77614 non-null  float64
 33  lotsizesquarefeet             70535 non-null  float64
 34  poolcnt                       14261 non-null  float64
 35  poolsizesum                   777 non-null    float64
 36  pooltypeid10                  424 non-null    float64
 37  pooltypeid2                   834 non-null    float64
 38  pooltypeid7                   13409 non-null  float64
 39  propertycountylandusecode     77613 non-null  object
 40  propertylandusetypeid         77614 non-null  float64
 41  propertyzoningdesc            51362 non-null  object
 42  rawcensustractandblock        77614 non-null  float64
 43  regionidcity                  76088 non-null  float64
 44  regionidneighborhood          30512 non-null  float64
 45  regionidzip                   77339 non-null  float64
 46  roomcnt                       77613 non-null  float64
 47  storytypeid                   45 non-null     float64
 48  threequarterbathnbr           8204 non-null   float64
 49  typeconstructiontypeid        166 non-null    float64
 50  unitcnt                       51290 non-null  float64
 51  yardbuildingsqft17            2423 non-null   float64
 52  yardbuildingsqft26            66 non-null     float64
 53  yearbuilt                     76444 non-null  float64
 54  numberofstories               18119 non-null  float64
 55  fireplaceflag                 125 non-null    float64
 56  structuretaxvaluedollarcnt    76349 non-null  float64
 57  taxvaluedollarcnt             76689 non-null  float64
 58  assessmentyear                77614 non-null  float64
 59  landtaxvaluedollarcnt         76003 non-null  float64
 60  taxamount                     77103 non-null  float64
 61  taxdelinquencyflag            1505 non-null   object
 62  taxdelinquencyyear            1505 non-null   float64
 63  censustractandblock           75519 non-null  float64
dtypes: float64(54), int64(2), object(8)
memory usage: 37.9+ MB
None
----------
DataFrame description:

                 id      parcelid      logerror  airconditioningtypeid  \
count  77614.000000  7.761400e+04  77614.000000           21457.000000
mean   38806.500000  1.337943e+07      0.016752               1.927203
std    22405.376234  8.351448e+06      0.170888               3.132917
min        0.000000  1.071174e+07     -4.655420               1.000000
25%    19403.250000  1.158572e+07     -0.024329               1.000000
50%    38806.500000  1.253225e+07      0.006670               1.000000
75%    58209.750000  1.411509e+07      0.039294               1.000000
max    77613.000000  1.696019e+08      5.262999              13.000000

       architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                151.000000     45.000000  77614.000000  77614.000000
mean                   7.430464    593.133333      2.214626      3.083993
std                    2.629347    460.916902      1.083466      1.275545
min                    2.000000     63.000000      0.000000      0.000000
25%                    7.000000    220.000000      2.000000      2.000000
50%                    7.000000    540.000000      2.000000      3.000000
75%                    7.000000    732.000000      3.000000      4.000000
max                   21.000000   2443.000000     20.000000     25.000000

       buildingclasstypeid  buildingqualitytypeid  ...     yearbuilt  \
count           383.000000           50322.000000  ...  76444.000000
mean              3.775457               6.300525  ...   1964.727029
std               0.459596               1.725770  ...     23.441530
min               1.000000               1.000000  ...   1808.000000
25%               4.000000               5.000000  ...   1950.000000
50%               4.000000               6.000000  ...   1963.000000
75%               4.000000               8.000000  ...   1982.000000
max               5.000000              12.000000  ...   2016.000000

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     18119.000000          125.0                7.634900e+04
mean          1.401071            1.0                1.788615e+05
std           0.535340            0.0                4.035321e+05
min           1.000000            1.0                5.000000e+00
25%           1.000000            1.0                7.833500e+04
50%           1.000000            1.0                1.283910e+05
75%           2.000000            1.0                2.055180e+05
max           4.000000            1.0                6.640493e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt     taxamount  \
count       7.668900e+04    77614.000000           7.600300e+04  7.710300e+04
mean        4.407452e+05     2015.998222           2.650476e+05  5.371524e+03
std         8.343268e+05        0.068083           5.280792e+05  1.040755e+04
min         8.000000e+00     2003.000000           4.000000e+00  2.540000e+00
25%         1.870340e+05     2016.000000           7.840650e+04  2.449600e+03
50%         3.215800e+05     2016.000000           1.753420e+05  4.006660e+03
75%         5.130000e+05     2016.000000           3.246770e+05  6.198595e+03
max         1.491392e+08     2016.000000           9.401108e+07  1.824155e+06

       taxdelinquencyyear  censustractandblock
count         1505.000000         7.551900e+04
mean            13.912957         6.048976e+13
std              1.543603         2.100753e+11
min              6.000000         6.037101e+13
25%             14.000000         6.037311e+13
50%             14.000000         6.037572e+13
75%             15.000000         6.059042e+13
max             15.000000         6.111009e+13

[8 rows x 56 columns]
----------
Null value assessments:

Nulls by column:      num_rows_missing  percent_rows_missing  count
0                  0              0.000000     12
1                  1              0.001288      2
2                275              0.354318      1
3                511              0.658386      1
4                925              1.191795      1
5               1112              1.432731      1
6               1170              1.507460      1
7               1265              1.629861      1
8               1526              1.966140      1
9               1611              2.075656      1
10              2095              2.699255      1
11              3223              4.152601      2
12              6650              8.568042      1
13              7079              9.120777      1
14             26252             33.823795      1
15             26324             33.916561      1
16             27292             35.163759      1
17             29139             37.543484      2
18             47102             60.687505      1
19             54314             69.979643      2
20             56157             72.354214      2
21             59495             76.654985      1
22             63353             81.625738      1
23             64205             82.723478      1
24             69202             89.161749      1
25             69410             89.429742      1
26             71641             92.304223      2
27             72856             93.869663      1
28             75191             96.878141      1
29             76109             98.060917      2
30             76356             98.379158      1
31             76780             98.925452      1
32             76837             98.998892      1
33             77069             99.297807      1
34             77101             99.339037      1
35             77190             99.453707      1
36             77231             99.506532      2
37             77379             99.697220      1
38             77448             99.786121      1
39             77463             99.805447      2
40             77489             99.838947      1
41             77548             99.914964      1
42             77569             99.942021      2
----------
Nulls by row:      num_cols_missing  percent_cols_missing  index
0                 23               35.9375     13
1                 24               37.5000     26
2                 25               39.0625    164
3                 26               40.6250    349
4                 27               42.1875   4308
5                 28               43.7500   2883
6                 29               45.3125   8981
7                 30               46.8750  11552
8                 31               48.4375  15186
9                 32               50.0000  15433
10                33               51.5625   5682
11                34               53.1250   6030
12                35               54.6875   2861
13                36               56.2500   1383
14                37               57.8125    296
15                38               59.3750    297
16                39               60.9375     71
17                40               62.5000     63
18                41               64.0625    121
19                42               65.6250    123
20                43               67.1875    449
21                44               68.7500    998
22                45               70.3125    212
23                46               71.8750     92
24                47               73.4375     38
25                48               75.0000      3
----------
Value counts:

(-77.614, 7761.3]     7762
(7761.3, 15522.6]     7761
(15522.6, 23283.9]    7761
(23283.9, 31045.2]    7762
(31045.2, 38806.5]    7761
(38806.5, 46567.8]    7761
(46567.8, 54329.1]    7762
(54329.1, 62090.4]    7761
(62090.4, 69851.7]    7761
(69851.7, 77613.0]    7762
Name: id, dtype: int64
-----
(10552854.795, 26600765.4]    77369
(26600765.4, 42489785.8]          0
(42489785.8, 58378806.2]          0
(58378806.2, 74267826.6]          0
(74267826.6, 90156847.0]         33
(90156847.0, 106045867.4]         1
(106045867.4, 121934887.8]        0
(121934887.8, 137823908.2]        0
(137823908.2, 153712928.6]        0
(153712928.6, 169601949.0]      211
Name: parcelid, dtype: int64
-----
(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       145
(-0.688, 0.304]     75561
(0.304, 1.296]       1690
(1.296, 2.287]        103
(2.287, 3.279]         73
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
-----
2017-06-30    1195
2017-04-28     917
2017-05-31     868
2017-07-28     815
2017-08-31     782
              ...
2017-03-12       1
2017-07-22       1
2017-08-05       1
2017-08-06       1
2018-05-25       1
Name: transactiondate, Length: 265, dtype: int64
-----
(0.987, 2.2]    19627
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        219
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         55
(9.4, 10.6]         0
(10.6, 11.8]       46
(11.8, 13.0]     1510
Name: airconditioningtypeid, dtype: int64
-----
Central          19627
Yes               1509
None               219
Refrigeration       55
Wall Unit           46
Window Unit          1
Name: airconditioningdesc, dtype: int64
-----
(1.9800000000000002, 3.9]      3
(3.9, 5.8]                     0
(5.8, 7.7]                   133
(7.7, 9.6]                    10
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   5
Name: architecturalstyletypeid, dtype: int64
-----
Contemporary     133
Conventional      10
Ranch/Rambler      5
Bungalow           3
Name: architecturalstyledesc, dtype: int64
-----
(60.619, 301.0]     16
(301.0, 539.0]       6
(539.0, 777.0]      12
(777.0, 1015.0]      2
(1015.0, 1253.0]     6
(1253.0, 1491.0]     1
(1491.0, 1729.0]     1
(1729.0, 1967.0]     0
(1967.0, 2205.0]     0
(2205.0, 2443.0]     1
Name: basementsqft, dtype: int64
-----
(-0.021, 2.0]    48718
(2.0, 4.0]       26371
(4.0, 6.0]        2148
(6.0, 8.0]         303
(8.0, 10.0]         59
(10.0, 12.0]        11
(12.0, 14.0]         2
(14.0, 16.0]         0
(16.0, 18.0]         0
(18.0, 20.0]         2
Name: bathroomcnt, dtype: int64
-----
(-0.026000000000000002, 2.5]    21323
(2.5, 5.0]                      54207
(5.0, 7.5]                       1554
(7.5, 10.0]                       485
(10.0, 12.5]                       42
(12.5, 15.0]                        1
(15.0, 17.5]                        1
(17.5, 20.0]                        0
(20.0, 22.5]                        0
(22.5, 25.0]                        1
Name: bedroomcnt, dtype: int64
-----
(0.995, 1.4]      1
(1.4, 1.8]        0
(1.8, 2.2]        3
(2.2, 2.6]        0
(2.6, 3.0]       78
(3.0, 3.4]        0
(3.4, 3.8]        0
(3.8, 4.2]      300
(4.2, 4.6]        0
(4.6, 5.0]        1
Name: buildingclasstypeid, dtype: int64
-----
Buildings having wood or wood and steel frames                                                                                                                                                                                             300
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     78
Buildings having fireproofed reinforced concrete frames carrying all wall floor and roof loads which are all non-combustible.                                                                                                                3
Specialized buildings that do not fit in any of the above categories                                                                                                                                                                         1
Buildings having fireproofed structural steel frames carrying all wall, floor and roof loads. Wall, floor and roof structures are built of non-combustible materials.                                                                        1
Name: buildingclassdesc, dtype: int64
-----
(0.988, 2.1]       38
(2.1, 3.2]        474
(3.2, 4.3]      11424
(4.3, 5.4]       2669
(5.4, 6.5]      14637
(6.5, 7.6]       4938
(7.6, 8.7]      13206
(8.7, 9.8]       1801
(9.8, 10.9]       292
(10.9, 12.0]      843
Name: buildingqualitytypeid, dtype: int64
-----
(0.98, 2.9]     50916
(2.9, 4.8]      21471
(4.8, 6.7]       1658
(6.7, 8.6]        277
(8.6, 10.5]        54
(10.5, 12.4]       11
(12.4, 14.3]        2
(14.3, 16.2]        0
(16.2, 18.1]        0
(18.1, 20.0]        2
Name: calculatedbathnbr, dtype: int64
-----
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 513
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
-----
(31.048, 1642.1]      4598
(1642.1, 3237.2]      1287
(3237.2, 4832.3]        74
(4832.3, 6427.4]         8
(6427.4, 8022.5]         5
(8022.5, 9617.6]         0
(9617.6, 11212.7]        0
(11212.7, 12807.8]       0
(12807.8, 14402.9]       0
(14402.9, 15998.0]       1
Name: finishedfloor1squarefeet, dtype: int64
-----
(-141.213, 16141.2]     76460
(16141.2, 32262.4]         26
(32262.4, 48383.6]          9
(48383.6, 64504.8]          2
(64504.8, 80626.0]          1
(80626.0, 96747.2]          1
(96747.2, 112868.4]         0
(112868.4, 128989.6]        0
(128989.6, 145110.8]        1
(145110.8, 161232.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64
-----
(-6.3260000000000005, 2652.5]    62397
(2652.5, 5285.0]                  7991
(5285.0, 7917.5]                   454
(7917.5, 10550.0]                   87
(10550.0, 13182.5]                  22
(13182.5, 15815.0]                   7
(15815.0, 18447.5]                   2
(18447.5, 21080.0]                   3
(21080.0, 23712.5]                   0
(23712.5, 26345.0]                   1
Name: finishedsquarefeet12, dtype: int64
-----
(221.823, 441.6]     4
(441.6, 659.2]      15
(659.2, 876.8]      30
(876.8, 1094.4]     31
(1094.4, 1312.0]    48
(1312.0, 1529.6]    81
(1529.6, 1747.2]    22
(1747.2, 1964.8]     1
(1964.8, 2182.4]     1
(2182.4, 2400.0]     2
Name: finishedsquarefeet13, dtype: int64
-----
(-13.084999999999999, 16256.4]    4723
(16256.4, 32364.8]                  19
(32364.8, 48473.2]                   9
(48473.2, 64581.6]                   2
(64581.6, 80690.0]                   1
(80690.0, 96798.4]                   1
(96798.4, 112906.8]                  0
(112906.8, 129015.2]                 0
(129015.2, 145123.6]                 1
(145123.6, 161232.0]                 2
Name: finishedsquarefeet15, dtype: int64
-----
(31.048, 1642.1]      4580
(1642.1, 3237.2]      1293
(3237.2, 4832.3]        77
(4832.3, 6427.4]        12
(6427.4, 8022.5]         7
(8022.5, 9617.6]         2
(9617.6, 11212.7]        0
(11212.7, 12807.8]       1
(12807.8, 14402.9]       0
(14402.9, 15998.0]       1
Name: finishedsquarefeet50, dtype: int64
-----
(349.76800000000003, 2191.1]    293
(2191.1, 4014.2]                167
(4014.2, 5837.3]                 80
(5837.3, 7660.4]                  1
(7660.4, 9483.5]                  1
(9483.5, 11306.6]                 0
(11306.6, 13129.7]                0
(13129.7, 14952.8]                1
(14952.8, 16775.9]                1
(16775.9, 18599.0]                1
Name: finishedsquarefeet6, dtype: int64
-----
(6036.925, 6044.4]    52235
(6044.4, 6051.8]          0
(6051.8, 6059.2]      18808
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6571
Name: fips, dtype: int64
-----
(0.991, 1.8]    7267
(1.8, 2.6]       914
(2.6, 3.4]       207
(3.4, 4.2]        17
(4.2, 5.0]         4
(5.0, 5.8]         0
(5.8, 6.6]         0
(6.6, 7.4]         1
(7.4, 8.2]         0
(8.2, 9.0]         2
Name: fireplacecnt, dtype: int64
-----
(0.98, 2.9]     50926
(2.9, 4.8]      21476
(4.8, 6.7]       1649
(6.7, 8.6]        275
(8.6, 10.5]        50
(10.5, 12.4]       11
(12.4, 14.3]        2
(14.3, 16.2]        0
(16.2, 18.1]        0
(18.1, 20.0]        2
Name: fullbathcnt, dtype: int64
-----
(-0.013999999999999999, 1.3]     5045
(1.3, 2.6]                      17442
(2.6, 3.9]                        513
(3.9, 5.2]                        265
(5.2, 6.5]                         13
(6.5, 7.8]                          3
(7.8, 9.1]                         12
(9.1, 10.4]                         1
(10.4, 11.7]                        2
(11.7, 13.0]                        4
Name: garagecarcnt, dtype: int64
-----
(-3.775, 377.4]      7050
(377.4, 754.8]      15660
(754.8, 1132.2]       481
(1132.2, 1509.6]       71
(1509.6, 1887.0]       16
(1887.0, 2264.4]        7
(2264.4, 2641.8]        7
(2641.8, 3019.2]        1
(3019.2, 3396.6]        3
(3396.6, 3774.0]        4
Name: garagetotalsqft, dtype: int64
-----
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1258
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
-----
(0.976, 3.3]    30570
(3.3, 5.6]          0
(5.6, 7.9]      17255
(7.9, 10.2]         1
(10.2, 12.5]        2
(12.5, 14.8]       38
(14.8, 17.1]        0
(17.1, 19.4]       14
(19.4, 21.7]       84
(21.7, 24.0]      511
Name: heatingorsystemtypeid, dtype: int64
-----
Central       30568
Floor/Wall    16593
Forced air      662
Yes             511
Solar            84
None             38
Radiant          14
Hot Water         2
Baseboard         2
Gravity           1
Name: heatingorsystemdesc, dtype: int64
-----
(33337916.437000003, 33486140.2]      887
(33486140.2, 33632896.4]             3685
(33632896.4, 33779652.6]             9421
(33779652.6, 33926408.8]            15577
(33926408.8, 34073165.0]            15873
(34073165.0, 34219921.2]            18871
(34219921.2, 34366677.4]             7982
(34366677.4, 34513433.6]             2635
(34513433.6, 34660189.8]             1644
(34660189.8, 34806946.0]             1039
Name: latitude, dtype: int64
-----
(-119450284.46000001, -119259146.1]      469
(-119259146.1, -119069900.2]            2382
(-119069900.2, -118880654.3]            1563
(-118880654.3, -118691408.4]            2417
(-118691408.4, -118502162.5]            6111
(-118502162.5, -118312916.6]           15816
(-118312916.6, -118123670.7]           15526
(-118123670.7, -117934424.8]           15573
(-117934424.8, -117745178.9]           12317
(-117745178.9, -117555933.0]            5440
Name: longitude, dtype: int64
-----
(-6841.8820000000005, 697217.1]    70347
(697217.1, 1394305.2]                131
(1394305.2, 2091393.3]                31
(2091393.3, 2788481.4]                 0
(2788481.4, 3485569.5]                 0
(3485569.5, 4182657.6]                17
(4182657.6, 4879745.7]                 0
(4879745.7, 5576833.8]                 0
(5576833.8, 6273921.9]                 0
(6273921.9, 6971010.0]                 9
Name: lotsizesquarefeet, dtype: int64
-----
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       14261
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64
-----
(25.851, 242.8]      14
(242.8, 457.6]      297
(457.6, 672.4]      355
(672.4, 887.2]       96
(887.2, 1102.0]      13
(1102.0, 1316.8]      0
(1316.8, 1531.6]      0
(1531.6, 1746.4]      0
(1746.4, 1961.2]      1
(1961.2, 2176.0]      1
Name: poolsizesum, dtype: int64
-----
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       424
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64
-----
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       834
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid2, dtype: int64
-----

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       13409
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64
-----
0100    29754
122     13114
0101     6740
010C     5839
1111     3697
        ...
105         1
030G        1
0123        1
0140        1
120T        1
Name: propertycountylandusecode, Length: 105, dtype: int64
-----
(30.755, 55.4]      416
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     4853
(250.6, 275.0]    72345
Name: propertylandusetypeid, dtype: int64
-----
LAR1          7457
LAR3          1746
LARS          1580
LBR1N         1315
LAR2          1204
              ...
SPR2B10000       1
SOR1VV           1
RPOH-RS1*        1
ARR175           1
PDR3-R3DP*       1
Name: propertyzoningdesc, Length: 2039, dtype: int64
-----
(60370272.019999996, 60444919.091]    52235
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.072]          18808
(60592735.072, 60666643.062]              0
(60666643.062, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.023]              0
(60962275.023, 61036183.013]              0
(61036183.013, 61110091.003]           6571
Name: rawcensustractandblock, dtype: int64
-----
(3097.9339999999997, 42797.5]    55436
(42797.5, 82104.0]               17940
(82104.0, 121410.5]               1330
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                65
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]              1317
Name: regionidcity, dtype: int64
-----
(6194.784, 82673.5]     11337
(82673.5, 158395.0]      4620
(158395.0, 234116.5]       63
(234116.5, 309838.0]    11508
(309838.0, 385559.5]       45
(385559.5, 461281.0]     1722
(461281.0, 537002.5]        0
(537002.5, 612724.0]        0
(612724.0, 688445.5]       92
(688445.5, 764167.0]     1125
Name: regionidneighborhood, dtype: int64
-----
(95678.306, 126351.3]    77327
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
-----
(-0.087, 8.6]    76017
(8.6, 17.2]       1592
(17.2, 25.8]         3
(25.8, 34.4]         0
(34.4, 43.0]         0
(43.0, 51.6]         0
(51.6, 60.2]         0
(60.2, 68.8]         0
(68.8, 77.4]         0
(77.4, 86.0]         1
Name: roomcnt, dtype: int64
-----
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      45
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
-----
(0.996, 1.3]    8138
(1.3, 1.6]         0
(1.6, 1.9]         0
(1.9, 2.2]        58
(2.2, 2.5]         0
(2.5, 2.8]         0
(2.8, 3.1]         4
(3.1, 3.4]         0
(3.4, 3.7]         0
(3.7, 4.0]         4
Name: threequarterbathnbr, dtype: int64
-----
(3.9970000000000003, 4.2]      1
(4.2, 4.4]                     0
(4.4, 4.6]                     0
(4.6, 4.8]                     0
(4.8, 5.0]                     0
(5.0, 5.2]                     0
(5.2, 5.4]                     0
(5.4, 5.6]                     0
(5.6, 5.8]                     0
(5.8, 6.0]                   165
Name: typeconstructiontypeid, dtype: int64
-----
(0.801, 20.8]     51276
(20.8, 40.6]          7
(40.6, 60.4]          1
(60.4, 80.2]          3
(80.2, 100.0]         0
(100.0, 119.8]        0
(119.8, 139.6]        2
(139.6, 159.4]        0
(159.4, 179.2]        0
(179.2, 199.0]        1
Name: unitcnt, dtype: int64
-----
(4.603, 650.6]      2271
(650.6, 1290.2]      128
(1290.2, 1929.8]      19
(1929.8, 2569.4]       1
(2569.4, 3209.0]       1
(3209.0, 3848.6]       1
(3848.6, 4488.2]       0
(4488.2, 5127.8]       1
(5127.8, 5767.4]       0
(5767.4, 6407.0]       1
Name: yardbuildingsqft17, dtype: int64
-----
(12.516, 162.3]     31
(162.3, 310.6]      19
(310.6, 458.9]       7
(458.9, 607.2]       4
(607.2, 755.5]       1
(755.5, 903.8]       1
(903.8, 1052.1]      0
(1052.1, 1200.4]     0
(1200.4, 1348.7]     2
(1348.7, 1497.0]     1
Name: yardbuildingsqft26, dtype: int64
-----
(1807.791, 1828.8]        1
(1828.8, 1849.6]          0
(1849.6, 1870.4]          2
(1870.4, 1891.2]         41
(1891.2, 1912.0]       1224
(1912.0, 1932.8]       6488
(1932.8, 1953.6]      16309
(1953.6, 1974.4]      25672
(1974.4, 1995.2]      18467
(1995.2, 2016.0]       8240
Name: yearbuilt, dtype: int64
-----
(0.996, 1.3]    11266
(1.3, 1.6]          0
(1.6, 1.9]          0
(1.9, 2.2]       6445
(2.2, 2.5]          0
(2.5, 2.8]          0
(2.8, 3.1]        402
(3.1, 3.4]          0
(3.4, 3.7]          0
(3.7, 4.0]          6
Name: numberofstories, dtype: int64
-----
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       125
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: fireplaceflag, dtype: int64
-----
(-66399.928, 6640497.7]     76332
(6640497.7, 13280990.4]        11
(13280990.4, 19921483.1]        4
(19921483.1, 26561975.8]        0
(26561975.8, 33202468.5]        0
(33202468.5, 39842961.2]        0
(39842961.2, 46483453.9]        0
(46483453.9, 53123946.6]        0
(53123946.6, 59764439.3]        1
(59764439.3, 66404932.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
-----
(-149131.147, 14913922.6]     76676
(14913922.6, 29827837.2]         10
(29827837.2, 44741751.8]          1
(44741751.8, 59655666.4]          0
(59655666.4, 74569581.0]          1
(74569581.0, 89483495.6]          0
(89483495.6, 104397410.2]         0
(104397410.2, 119311324.8]        0
(119311324.8, 134225239.4]        0
(134225239.4, 149139154.0]        1
Name: taxvaluedollarcnt, dtype: int64
-----
(2002.986, 2004.3]        1
(2004.3, 2005.6]          0
(2005.6, 2006.9]          0
(2006.9, 2008.2]          0
(2008.2, 2009.5]          0
(2009.5, 2010.8]          0
(2010.8, 2012.1]          0
(2012.1, 2013.4]          0
(2013.4, 2014.7]         33
(2014.7, 2016.0]      77580
Name: assessmentyear, dtype: int64
-----
(-94007.076, 9401111.5]     75990
(9401111.5, 18802219.0]        10
(18802219.0, 28203326.5]        2
(28203326.5, 37604434.0]        0
(37604434.0, 47005541.5]        0
(47005541.5, 56406649.0]        0
(56406649.0, 65807756.5]        0
(65807756.5, 75208864.0]        0
(75208864.0, 84609971.5]        0
(84609971.5, 94011079.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
-----
(-1821.613, 182417.771]       77091
(182417.771, 364833.002]         10
(364833.002, 547248.233]          0
(547248.233, 729663.464]          0
(729663.464, 912078.695]          0
(912078.695, 1094493.926]         0
(1094493.926, 1276909.157]        1
(1276909.157, 1459324.388]        0
(1459324.388, 1641739.619]        0
(1641739.619, 1824154.85]         1
Name: taxamount, dtype: int64
-----
Y    1505
Name: taxdelinquencyflag, dtype: int64
-----
(5.989999999999999, 6.9]      2
(6.9, 7.8]                    4
(7.8, 8.7]                   11
(8.7, 9.6]                   26
(9.6, 10.5]                  34
(10.5, 11.4]                 65
(11.4, 12.3]                 66
(12.3, 13.2]                130
(13.2, 14.1]                465
(14.1, 15.0]                702
Name: taxdelinquencyyear, dtype: int64
-----
(60370272021097.99, 60444919091200.49]    50640
(60444919091200.49, 60518827081401.0]         0
(60518827081401.0, 60592735071601.51]     18456
(60592735071601.51, 60666643061802.0]         1
(60666643061802.0, 60740551052002.49]         2
(60740551052002.49, 60814459042203.0]         0
(60814459042203.0, 60888367032403.51]         0
(60888367032403.51, 60962275022604.0]         0
(60962275022604.0, 61036183012804.49]         0
(61036183012804.49, 61110091003005.0]      6420
Name: censustractandblock, dtype: int64
-----
----------
Report Finished